cl.acaya.web/src/main/webapp/schemas/AceptaResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservices.samples.blog.com" targetNamespace="http://webservices.samples.blog.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name='NotificarFacturaAceptaResponse'>
        <xs:sequence>
            <xs:element minOccurs='0' name='errorMensaje' type='xs:string'/>
            <xs:element minOccurs='0' name='success' type='xs:boolean'/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>